<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo"></div>
    <div class="nav-items" nz-menu nzTheme="dark" nzMode="inline">
        <span nz-icon nzType="home" nzTheme="outline" style="color: white;"></span>
        <span style="color: white;">Home</span>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">Content</div>
    </nz-content>
  </nz-layout>
</nz-layout>
