.layout {
    min-height: 100vh;
}
 
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
 
nz-header {
    background: #fff;
    padding: 0;
}
 
nz-content {
    margin: 24px 16px 0;
}
 
.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

.nav-items {
    text-align: center;
    font-size: 12px;
    padding: 10px 5px;
    margin-bottom: 8px;
    line-height: 1.2;
    cursor: pointer;
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
